body{
  font-family: 'Lato', sans-serif;
  color: #858181;
  font-weight: 300;
}

.gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#24adae+0,22b58d+81,22b58d+100 */
background: rgb(36,173,174); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(36,173,174,1) 0%, rgba(34,181,141,1) 81%, rgba(34,181,141,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(36,173,174,1) 0%,rgba(34,181,141,1) 81%,rgba(34,181,141,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(36,173,174,1) 0%,rgba(34,181,141,1) 81%,rgba(34,181,141,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24adae', endColorstr='#22b58d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

input:focus {
    outline:none;
}
button:focus{
     outline:none;
}
header{
      min-height: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue{

  color: #24adae;
  
}

.background-blue{
  background-color: #24adae;
}

.light-grey{
  background-color: #e9e9e9
}

.heading-green-line{
    color: #22b59b;
    font-size: 21px;
    line-height: 31px;
    border-bottom: 2px solid #22b59b;
    padding-bottom: 16px;
}

.float-right{
  float: right;
}

.no-margin{
     margin: 0px;
    color: #24adae;
    font-weight: 400;
        font-size: 14px;

    curser:default;
}

.heading-green-line-small{
    color: #22b59b;
    font-size: 21px;
    line-height: 31px;
    border-bottom: 2px solid #22b59b;
    padding-bottom: 5px;
}



.size1{
  width: 190px;
}

.size2{
  width: 220px;
}

.size3{
  width: 481px;
}

.size4{
  width: 495px;
}

.size5{
    width: 154px;
}

.size6{
  width: 271px;
}

.size7{
  width: 299px;
}

.size8{
  width: 175px;
}

.hr-green{
  max-width: none;
  border-bottom: 2px solid #22b59b;
}

.p{
  line-height: 26px;
}

.padding-top{
  padding-top: 130px;
}

.letter-spacing{
  letter-spacing:1px;
}
/*
///////////////////////////navigation/////////////////////*/

.nav>li>a {
    position: relative;
    display: block;
    padding: 30px 15px;
  }

.nav-height{
  padding-bottom: 30px;
  padding-top: 30px;

}

.btn-xl {
 
  letter-spacing: 1px;
}

.btn-gradient{
  letter-spacing: 1px;
  margin-right: 20px;

}


/*/////////////////////heading//////////////////////////*/

#tel{
 color:white;
 letter-spacing: 3px;
    font-size: 15px;
}

#tel:hover{
  color:white;
}
#main-heading{
    font-size: 47px;
    letter-spacing: 2px;
    margin-top: 10%;
}

.second-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
        margin-top: 2%;

}

.third-heading{
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 300;
    margin-top: 2%;
    line-height: 33px;
}


.header-content-inner{
  text-align: left;
  font-family: 'Lato', sans-serif;
}





/*////////////////////////section1/////////////////////*/

#section1{
  background-color: #e9e9e9
}

.image{
  width: 54%;

}

.list{
      line-height: 35px;
}

/*
//////////////////////space-line/////////////////////*/

.line{
  height: 25px;
  -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.29);
box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.29);
} 

/*
//////////////////diensten///////////////////////*/


.icon-style{
  text-align: center
}

.icon-s{
   width: 25%

}

.dienst-margin{
    padding-right: 58px;
    padding-left: 58px;

}

.last-padding{
  padding-bottom: 130px;
}

.box-p-text{
    background: white;
    padding: 10px;
    border: 1px solid #22b59b;
    border-radius: 7px;
    cursor: default;
}

.display-none-d{
  display: none;
}

.close-d{
  color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    background: #24adae;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.close-d:hover{
  background: #22b59b;

}
/*.no-margin-row{
  padding-left: 0px;
  padding-right: 0px;
}*/

/*///////////////////////////steps////////////////////*/

.steps-i{
  margin-top: 30px;
  margin-bottom: 20px;
}



.ar-step{
  color: #24adae;
}

.box-steps{
/*  background: white;
    padding: 10px;
    border: 1px solid #22b59b;
    border-radius: 7px;*/
  
}

/*//////////////////////////////////one-liner////////////////////*/

.one-liner{
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}



/*
///////////////////////input///////////////*/


input{
  background: none;
   margin-bottom: 18px;
    border: 2px solid #22b59b;
    height: 38px;
}

.input100{
  width: 100%;
}

.input-margin{
    margin-right: 7%;
}

.input-margin2{
    margin-right: 10%;
    width: 204px;
    background: #24adae;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.input-text{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;

}

.intro-input{
    font-size: 19px;
    font-weight: 300;
    line-height: 23px;
    /* margin-bottom: 27px; */
    color: #22b59b;

}



/*///////footer////////*/


.footer-padding{
  color:white;
  padding-bottom: 30px;
  padding-top:50px;
}


.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #22b59b;
  fill: transparent;
  stroke-width: 3px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


.display{
  display: inline-block!important;
}

.display-none{
  display: none;
}

.hellothere{
  display: none;
  curser:default;
}
