html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0;
padding:0;
border:0;
outline:0;
}

/*////CHANGE SIZE FOR NEW CREATIVE/////*/
#border{
position: absolute;
position: absolute;
border: 1px solid #000;
width:968px;
height: 248px;
z-index: 998;
}

/*////CHANGE SIZE FOR NEW CREATIVE/////*/
.clickArea{
width: 970px;
height: 250px;
background-color: aqua;
z-index:999;
position:absolute;
opacity:0;
}

#clickArea2{
display:none;
}

/*////CHANGE SIZE FOR NEW CREATIVE/////*/
#container{
position:relative;
overflow:hidden;
display:block;
width:970px;
height:250px;
}

#restart{
position:absolute;
right:10px;
top:15px;
width:19px;
height:19px;
cursor:pointer;
z-index: 999;
opacity: 0;
}

#image1{
position:absolute;
z-index: 5;
}

#image2{
position:absolute;
z-index: 5;
visibility: hidden;
}

#image3{
position:absolute;
z-index: 5;
}

#logo{
position:absolute;
overflow: hidden;
z-index:10; 
}

#text1{
position:absolute;
z-index:50;

}

#text2{
position:absolute;
visibility: hidden;
z-index:50;
visibility: hidden;
}

#text3{
position:absolute;
visibility: hidden;
z-index:50;
}
#endframe{
position:absolute;
z-index:80;
opacity: 0;
visibility: hidden;

}

#endframecopy{
position:absolute;
z-index:55;
visibility: hidden;
left:-200px;
}

#button{
position:absolute;
visibility: hidden;
z-index:56;

}

#arrow{
position: absolute;
visibility: hidden; 
z-index: 59;

}

