/*.background-img-about{
  background: url(../img/about-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}*/

body{
 /* overflow: hidden;*/
}
@media (min-width: 767px){
  .background-img-about{
  background: url(../img/about-image.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;

}
.extra-margin-about{
 
      padding-left: 47px;
}
 }

 @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  .background-img-about{
    min-height: auto!important;
 }

 .extra-margin-about{
      padding-left: 0px!important;
}

}

.extra-margin-about{
  margin-top:20px;
  
}

 .background-about-2{
  background: url(../img/about-image2.jpg) no-repeat  ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
 }
.offering{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 53px;
}


.luxury-about{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 43px;

}

.second-about {
  
    margin-bottom: 28px;
    margin-top: 0px;
}

.main-about{
  margin-bottom: 40px;

}

.find-out-more-about{
  text-transform: uppercase;
  text-decoration: underline;
  color:#152236;
   font-family: 'Raleway', sans-serif;
   margin-left: 3px;
   font-size: 15px;
}

.our{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 54px;
    margin-bottom: 0px;
    color: #bca45a;
    letter-spacing: 2px;

}



 .padding-copy-about{
    padding-top: 120px;
    margin-bottom: 183px;
 }

 .copy-about{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
 
  font-weight: 200;
  
  font-size: 22px;
  color:#152236;
 }
  .copy-about2{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 27px;
  color: #bca45a;
 }

 .client-text{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 20px;
  color:#152236;
  text-transform: uppercase;
  padding-top: 20px;
 }

 .gold-border{

  border-top: 1px solid #bca45a;

 }

 .italicdetailEnquiry{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  color:white;
  font-size: 20px;

 }

 .sans-serifEnquiry{
   font-family: 'Raleway', sans-serif;
   font-weight: 300;
   letter-spacing: 2px;
   text-transform: uppercase;
   color:white;
   font-size: 20px;


 }

.makeEnquiryh2{
    background-color: #152236;
    padding-top: 15px;
    text-align: center;
    border: 1px solid #bca45a;
    width: 300px;
    padding-bottom: 15px;
    padding-left: 43px;
    padding-right: 43px;
}
 
 .enquiry-topper{
padding-bottom: 20px;
    padding-top: 20px;
    /* position: relative; */
    /* left: 50%; */
    transform: translate(-50%, 0);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
 }


 @media (max-width: 767px){

.padding-copy-about{
  padding-top: 50px;
  padding-bottom: 50px;
 }


 .copy-about{

      font-size: 15px;

 }
  .copy-about2{

  font-size: 20px;
 
 }

 .client-text{

  font-size: 10px;

 }

}

/*////////////////////////arow/////////////////////////*/





/*



.wrap {
  position: relative;
  height:100%;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.wrap img {
  width: 100%;
  height: auto;
  display: block;
}
.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:20px;
  background-color: #152236c4;
}
.arrow:before, .arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: #152236c4;;

}
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
   border-right: 1px solid #bca45a;
  border-top: 1px solid #bca45a;
}
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
   border-left: 1px solid #bca45a;
  border-top: 1px solid #bca45a;
}

.blue-background-trans{
  background-color: #152236c4;
}*/


.wrap {
  position: relative;
  height:150px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.wrap img {
  width: 100%;
  height: auto;
  display: block;
}
.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:23px;
  background-color: #152236c4;
}
.arrow:before, .arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: inherit;
}

.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
   border-right: 1px solid #bca45a;
  border-top: 1px solid #bca45a;
}
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
   border-left: 1px solid #bca45a;
  border-top: 1px solid #bca45a;
}