

@media (min-width: 768px) {
.background-img-meet-the-team{
  background: url(../img/meettheteam.jpg) no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 65vh;
}


.schaduw{
-webkit-box-shadow: inset 0px 1px 124px 6px rgba(0,0,0,0.57);
-moz-box-shadow: inset 0px 1px 124px 6px rgba(0,0,0,0.57);
box-shadow: inset 0px 1px 124px 6px rgba(0,0,0,0.57);
z-index: 999;

}

.space-shaduw{
  padding-bottom: 80px;
  padding-top: 40px;
}
  }



.img-width-pic {
    width: 100%;
/*    padding-left: 20px;
    padding-right: 20px;*/
  /*  padding-top: 50px;*/
   /* padding-bottom: 30px;*/
}

/*.width-box-person{
  paddin
}*/
/*////////test///////////*/

.team-item {
    display:inline-block;
   /* background:red;
    margin-bottom:10px;*/
}

.team-images img {
    /*width: auto;*/
   /* max-height: 100px;*/
    margin: 0;
}

.team-images .team-item {
    position: relative;
    width: 100%;
}

.team-images .team-image-overlay {
    position: absolute;
  
    width: 100%;
    background-color: #0c1421e0;
 /*   background-blend-mode: multiply;*/
    color: #fff;
    padding-top:7px;
    padding-bottom: 7px;
    bottom: 0;
    left: 0;
   /* top: 78%;*/
}


.no-padding-picture{
    padding:0px;
}

.padding-bottom-team-img{
    padding-bottom: 30px;
}

.margin-meet-pic{
    margin-left:15px;
    margin-right:15px;
}

.meet{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 59px;
    margin-bottom: 0px;
    color: white;
    letter-spacing: 2px;
}



.theteam{

}

.the{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 45px;
    color: #bca45a;
}

.name-team{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    margin-bottom: -1px;

}

.function-team{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
        font-size: 16px;
    margin-bottom: 0px;
    color: #bca45a;
    letter-spacing: 1px;
    font-style: italic;
}

.team{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 52px;
    color: #bca45a;

}





.thumbnail {
    position: relative;
}





@media (min-width: 768px) and (max-width: 992px){ 



.function-team {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 8.5px;
  
}

 }



 @media (min-width: 993px) and (max-width: 1200px){ 



.function-team {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 12px;

}
 }
