html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0;
padding:0;
border:0;
outline:0;
}

/*////CHANGE SIZE FOR NEW CREATIVE/////*/
#border{
position: absolute;
position: absolute;
border: 1px solid #000;
width:298px;
height: 248px;
z-index: 998;
}

/*////CHANGE SIZE FOR NEW CREATIVE/////*/
.clickArea{
width: 300px;
height: 250px;
background-color: aqua;
z-index:999;
position:absolute;
opacity:0;
}

#clickArea2{
display:none;
}

/*////CHANGE SIZE FOR NEW CREATIVE/////*/
#container{
position:relative;
overflow:hidden;
display:block;
width:300px;
height:250px;
}

#restart{
position:absolute;
right:10px;
top:15px;
width:19px;
height:19px;
cursor:pointer;
z-index: 999;
opacity: 0;
}

#image1{
position:absolute;
z-index: 5;
}

#image2{
position:absolute;
z-index: 5;
visibility: hidden;
}

#image3{
position:absolute;
z-index: 5;
visibility: hidden;
}

#logo{
position:absolute;
visibility: hidden;
z-index:90; 
}

#bluesmall{
position:absolute;
z-index:48;
width: 300px;
height: 250px;
top:0px;
}

#logo1{
position:absolute;
z-index:90; 
}

#blue{
position:absolute;
z-index:89;
width: 300px;
height: 250px;

}

#bluebig{
position:absolute;
z-index:90;
width: 300px;
height: 250px;
top:300px;
}

#borderwhite{
position:absolute;
z-index:47;
width: 300px;
height: 250px;
}

#borderwhite2{
position:absolute;
z-index:45;
width: 300px;
height: 250px;

}

#text1{
position:absolute;
z-index:50;
width: 300px;
height:250px;
left:-300px;
}

#text2{
position:absolute;
z-index:50;
width: 300px;
height: 250px;
visibility: hidden;
left:-200px;
}

#text3{
position:absolute;
z-index:50;
width: 300px;
height: 250px;
visibility: hidden;
left:-200px;

}

#text4{
position:absolute;
z-index:55;
visibility: hidden;

width: 300px;
height: 250px;

}





#button{
position:absolute;
visibility: hidden;
z-index:56;

}

#buttontext{
position:absolute;
visibility: hidden;
z-index:57;

}

#arrow{
position: absolute;
visibility: hidden; 
z-index: 59;
top:1px;

}

