/* Sticky footer styles  */
 html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    background-color: black;
    font-family: 'Ubuntu Mono', monospace;
    color:white;
}
/* Wrapper for page content to push down footer */
 #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
/*    margin: 0 auto -60px;*/
    /* Pad bottom by footer height */
/*    padding: 0 0 60px;*/
}
/* Set the fixed height of the footer here */
 #footer {
    height: 60px;
    background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */
 #wrap > .container {
   /* padding: 60px 15px 0;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: black;
}

.white{
  color:white;
}
.black{
  color:black!important;
}
.nav>li {
    position: relative;
    display: inline-block!important;
}

.logo{
    color: white;
    border-bottom: 1px solid white;
}
.pink{
    background-color: #3315ea;
}

.space-top{
    margin-top: 60px;
}

.work-name{
    color:white;
    margin-top:0px;
}

.float-right{
    float:right;
}

.fa{
    color:white;
    margin-left: 10px;
    margin-right:10px;
}

.footer-icon{
  font-size:25px;
  opacity: 0.4;
}

.copy{
    color:white;
    font-weight: 300;
}

.space-px{
  height: 150px;
}

.no-padding-left{
    padding-left: 0px;
}


.no-padding-right{
    padding-right: 0px;
}
.title-p{
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
        font-size: 26px;
        text-decoration: underline;
}
.text-project{
    color:black;
    position: absolute;
     margin-top: 40vh;
    font-family: 'Ubuntu Mono', monospace;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.work-partners {
 
    font-style: italic;
    padding-bottom: 30px;
    padding-top: 15px;
    font-weight: 300;
}
.post1 {
    width: 20px;
    /* visibility: hidden; */
}

hr {
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
   
}
 h4{
    text-transform: uppercase;
 }
 .hr-work{
       border: 3px solid white;
 }

 .space-bottom{
    margin-bottom: 100px;
 }

 .inline{
    display: inline-block;
 }
.hr-skills{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid white;
}
.color1{
  background-color: #cae7dd;
}

.color2{
    background-color: #adddd7;
}


.color3{
    background-color: #84cfd4;
}


/*.blue-hr{
     border-top: 4px solid #156fea;
}*/
.color4{
    background-color: #42c2d3;

}

.color5{
    background-color: #25b8c5;

}

.color6{
    background-color: #249caa;

}

.color7{
    /*background-color: #1b878f;*/
      background-color: #1699af;

}

.color9{
   background-color: #2a8785; 
}

.color10{
   background-color: #058d8a;
}


.color8{
     background-color: #1b878f;
}

.color11{
    
    background-color:  #187671;
}

.color12{
       background-color: #03635a;
}

.color13{
    background-color: #17555a;
}

.color14{
    background-color:#0e454a;
}

.navbar{
    background-color: black;
    border: 1px solid black;
}
@media (min-width:768px) {
.container {
width:100%;

}
#main-content{
     min-height: 100%;
   
}
#main-content > .row {
 overflow-x:scroll;
overflow-y:hidden;
    white-space:nowrap;
}    
#main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
    float:none;
    display:inline-block;
}

.col-height{
	height: 100vh;
     margin-right: -9px;
}



}

@media (max-width:767px) {
.container {
width:100%;


}
#main-content{
     min-height: 100%;


   
}
#main-content > .row {
 overflow-x:scroll;
     overflow-y:hidden;
    white-space:nowrap;
}    
#main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
    float:none;
    display:inline-block;
}

.col-height{
    height: 100vh;

}



}

.hello {
  
  scroll-snap-type: mandatory;

  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
}

.page {
  scroll-snap-align: start;
}


.begin-screen{
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 1031;
  position: absolute;
}


.bomb{



  text-align: center;
}

.explosion{
  text-align: center;
    padding-left: 45vw;
   width: 120px;
  padding-top:40vh;

}

.cls-2{
/*  background-color:red;*/
  fill:#8b69f1;
}

.color20{
  background-color:#8b69f1;
  width:55px!important;
}

.align-t{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0px;
    color: black;
    margin-top: 37vh;
}

.test-svg .circle:hover{
  fill:white;
}

/*.test-svg .cls-2:hover{
  fill:black;
}*/

/*.test-svg .cls-2{
  fill:white;
}*/


.test-svg{
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: all .2s ease-in-out;
  position: absolute;
   width: 120px;
/*  bottom: 0;
  right: 0;
  margin: 0px 0*/
}

.scale-up{
  opacity: 1 !important; 
  transform: scale(0) rotate(180deg) !important;
}

.post { 
  width: 300px; 

}


/*
    .fadeIn {
        -webkit-animation: animat_show 0.8s;
        animation: animat_show 0.8s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }

    .gone{
      display: none;
    }*/
