


body{
  font-family: helvetica; 
}


h1{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;

}

h4{
  letter-spacing: 2px;
  font-size: 21px;
  line-height: 27px;
}


p{
  letter-spacing: 2px;
  font-size: 16px;
}

.white{
  color: white;
}

hr{
    width: 25%;

    margin-bottom: 30px;
    margin-top: 30px;
    border: 2px solid white;
}


video{
  width:100%;
}


header {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header1.jpg');
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}


section{
  padding-top: 120px;
  padding-bottom: 120px;
}


.full-width {
    width: 100%;
    position: relative;
}


.no-padding{
  padding:0px;

}
.green{
  color: #00c1ad;
}

.green-b{
  background-color:#00c1ad;
}


.right-aling{
  text-align: right;
}

.blue{
  color:#12e6f0; 
}


.blue-b{
  background-color: #12e6f0;
}

.img-next{
  width: 100%;
}

.display-inline{
  display: inline-block;
}

.button-style{
 
 border-style: none;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 20px;
 padding-right: 20px;
 border-radius: 10px;
 letter-spacing: 2px;


}

.about{
      background-color: #12e6f0;
}

/*//////////////////////////////nav/////////////////////////////////*/

@media (min-width: 768px){
  .navbar-nav {
      float: right;
      margin: 0;
    }
}


.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}

.navbar-default {
    background-color: rgba(0, 243, 146, 0.52);
  color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 30px 30px;
    font-size: 30px;
    line-height: 20px;
    font-weight: bold;
     letter-spacing: 2px;
}


/*//////////////////////////////header/////////////////////////////////*/

.heading-b{
  color: white;
  background-color: #12e6f0;
}

.heading-b:hover{
  color:#12e6f0;
  background-color: white;

}

.title-heading{
  position: absolute;
  transform: translate(-50%, -50%);
      top: 50%;
    left: 50%;

     text-shadow: 2px 3px 7px rgba(14, 5, 12, 0.7);
}

.main-title{
    color: #12e6f0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
     line-height: 65px;
     font-size:  45px;


/*//////////////////////////////about/////////////////////////////////*/


}

.about-b{
  color: #12e6f0;
   background-color: white;
}


/*//////////////////////////////skills/////////////////////////////////*/

.fa-facebook-square{
  margin-left: 10px;
}

.dots{
  font-size: 30px;
  padding-left: 20px;
  line-height: 2px;
}



.fa-star-o{
  padding:5px;
}

.star-first{
  margin-left: 10px;
}

/*//////////////////////////////img-div/////////////////////////////////*/
.text-image{
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    line-height: 63px;
}

.text-image{
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    line-height: 63px;
}

.cina-back{
   -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url("../img/video2.gif");
   background-repeat: no-repeat;
       background-attachment: fixed;

}



/*//////////////////////////////the-story/////////////////////////////////*/



/*//////////////////////////////contact/////////////////////////////////*/

.vertical-align{
  vertical-align: middle;
}


/*//////////////////////////////footer/////////////////////////////////*/



.padding-footer{
  padding:30px;
}



.links-contact {
   vertical-align: middle!important;
    padding-left: 21px;
    letter-spacing: 2px;

}




















